body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: auto;
    padding: 0;
    max-width: 1500px;
}

:root {
    --mainColor: #56B8FF;
    --hoverColor: #0094FF;
    --grayColor: dimgray;

    /* Box Variables */
    --generalBoxWidth: 400px;
    --generalBoxHeight: 400px;

    --hoverBoxWidth: 450px;
    --hoverBoxHeight: 450px;
    
    --boxColumnGap: 20%;
    --boxRowGap: 50px;
}

.generalHeading {
    overflow: hidden;
    margin-top: 0px;
    background-size: cover;
    background-position: bottom;
    background-color: darkorchid;
    
    background-image: url(../res/heading.png);
    background-size: 100%;

    color: #fff;
    text-align: left;
    transition: 1.0s;
}
html:not([data-scroll='0']) .generalHeading  {
    /* filter: blur();
    -webkit-filter: blur(1px); */
    background-size: 110%;
    transition: 1.0s;
}
.generalHeading img{
    padding-left: 10px;
    transition: 1.0s;
}


.heading {
    overflow: none;
    overflow: hidden;
    text-align: center;

    filter: blur();
    -webkit-filter: blur(-3px);
}

.heading img {
    float: left;
    margin-left: 10px;
}

.search {
    margin-top: 0px;
    background-color: var(--mainColor);
    padding: 10px;
    max-width: 1500px;
}

.search li {
    margin: -3px;
    list-style: none;
    padding: 10px;
    display: inline;
    transition: all 0.3s;
}

.search a {
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}

.search li:hover {
    background-color: var(--hoverColor);
    padding: 12px;
}


.partition {
    display: block;

    background: #fff;
    box-shadow: 0px 1px 10px var(--grayColor);
    text-align: left;

    min-width: 0%;
    max-width: 1000px;
    max-height: 100%;

    width: 80%;

    margin: auto auto;
}
.partitionContents {
    display: grid;

    margin: 20px 0px;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: 2;
    grid-gap: 10px;

    color: var(--grayColor);
}
.partitionText {
    color: var(--grayColor);
    padding: 20px;
    margin: 0 auto;
    text-align: center; /* HMMMMMMMMMM IM THINKING! THINK FUCKING HELL!!!! */
   
    transition: all 1.0s;
}
#partitionImage {
   text-align: center;
   margin: auto auto;
   transition: all 1.0s;
}


.title {
    text-align: center;
}

#forms {
    display: block;
    margin: 0 auto;

    border-radius: 20px;


    /* background-color: var(--grayColor); */
    
    background-image: url(../res/heading.png);

    box-shadow: 1px 1px 10px var(--grayColor);

    transition: all 1.0s;
}

.members {
    display: grid;

    margin: 20px 0px;

    grid-template-columns: repeat(2, auto);
    grid-template-rows:2;
    grid-gap: 10px;

    color: var(--grayColor);

    
    transition: all 1.0s;
}

#memb1, #memb2, #memb3, #memb4 {
    display: block;
    margin: 0 auto;

    background: white;

    box-shadow: 1px 1px 10px var(--grayColor);

    min-width: 0%;
    max-height: 100%;

    width: var(--generalBoxWidth);
    height: var(--generalBoxHeight);

    padding: 20px;
}

/* END */

footer {
    margin-top: 100px;
    background-color: #DADADA;
    font-size: 25px;
    color: var(--grayColor);
    box-shadow: 1px 1px 10px var(--grayColor);
}

.footerArea {
    display: grid;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1;

    padding: 20px;

}

.footerContent2, .copyRight, .footerContent1 {
    position: relative;
    text-align: center;
    margin: auto;
    transition: all 1.0s;
    display: block;
    width: fit-content;
    height: min-content;

    list-style: none;
    text-decoration: none;

    transition: all 1.0s;
}
.footerContent2 a {
    list-style: none;
    text-decoration: none;
    color: var(--grayColor);
    
    transition: all 0.5s;
}
.footerContent2 a:hover  {
    color: #0094FF;
    list-style: none;
    text-decoration: none;
    font-size: 130%;
    
}


/* Small Settings */
@media(max-width: 800px) {

    body {
        font-size: 13px;
        
        --generalBoxWidth: 300px;
        --generalBoxHeight: 300px;
    }

    .members {
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 10px;
        width: auto;
        font-size: 13px;
    }

    #member:hover {
        --hoverBoxWidth: 340px;
        --hoverBoxHeight: 340px;

        --boxColumnGap: 20px;
        --boxRowGap: 20px;
    }

    .footerArea {
        font-size: 15px;
    }
    
    .partitionContents {
        grid-template-columns: repeat(1, auto);
        padding: 0;
    }

    #forms {
        width: 70vw;
    }
}