body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0;
    padding: 0;    
}

:root {
    --mainColor: #56B8FF;
    --hoverColor: #0094FF;
    --grayColor: dimgray;

    /* Box Variables */
    --generalBoxWidth: 400px;
    --generalBoxHeight: 400px;

    --hoverBoxWidth: 450px;
    --hoverBoxHeight: 450px;
    
    --boxColumnGap: 20%;
    --boxRowGap: 50px;
}

.generalHeading {
    overflow: hidden;
    margin-top: 0px;
    background-size: cover;
    background-position: bottom;
    background-color: darkorchid;
    background-image: url(../res/heading.png);
    color: #fff;
    text-align: left;
}

.heading {
    overflow: none;
    overflow: hidden;
    text-align: center;
}

.heading img {
    float: left;
    margin-left: 10px;
}

.search {
    background-color: var(--mainColor);
    padding: 10px;
}

.search li {
    margin: -3px;
    list-style: none;
    padding: 10px;
    display: inline;
    transition: all 0.3s;
}

.search a {
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}

.search li:hover {
    background-color: var(--hoverColor);
    padding: 12px;
}

.textRead {
    color: #000000;
    margin: auto;
}

.textBox {
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    background-color: var(--grayColor);
    padding: 10px;
    margin: 20px;
}

.textBox h1 {
    text-align: center;
}


/* Image box */
.imgBox {
    background: var(--grayColor);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 50px;

    /* Font */
    color: #ffffff;
    font-size: 20px;
}
#img {
    float: left;
    display: flex;
    padding-right: 30px;
}
#imgBoxText {
    text-align: justify;
}

.partition {
    background: #fff;
    box-shadow: 0px 1px 10px var(--grayColor);
    text-align: left;
    
    margin: 30px 0px;
    padding: 10px;
}
#partitionText {
    text-align: center;
    padding-left: 30%;
}


.title {
    text-align: center;
}

#member {
    margin-left: 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-column-gap: 20%;
    grid-row-gap: var(--boxRowGap);

    text-align: center;
}


/* members */
#member a {
    color: var(--mainColor);
}


/* displacements */
/* I don't think this is the most efficient way, but fuck it */
.one {
    background-color: dimgray;
    border-radius: 20px;
    padding: 5px 10px;
    width: var(--generalBoxWidth);
    height: var(--generalBoxHeight);

    transition: all 0.3s;
}
.one:hover {
    margin: 20px 75px;
    width: var(--hoverBoxWidth);
    height: var(--hoverBoxHeight);
}

.two {
    background-color: dimgray;
    border-radius: 20px;
    padding: 5px 10px;
    width: var(--generalBoxWidth);
    height: var(--generalBoxHeight);
    
    transition: all 0.3s;
}
.two:hover {
    margin: 20px 75px;
    width: var(--hoverBoxWidth);
    height: var(--hoverBoxHeight);
}

.three {
    background-color: dimgray;
    border-radius: 20px;
    padding: 5px 10px;
    width: var(--generalBoxWidth);
    height: var(--generalBoxHeight);

    transition: all 0.3s;
}
.three:hover {
    margin: 20px 75px;
    width: var(--hoverBoxWidth);
    height: var(--hoverBoxHeight);
}

.four {
    background-color: dimgray;
    border-radius: 20px;
    padding: 5px 10px;
    width: var(--generalBoxWidth);
    height: var(--generalBoxHeight);

    transition: all 0.3s;
}
.four:hover {
    margin: 20px 75px;
    width: var(--hoverBoxWidth);
    height: var(--hoverBoxHeight);
}
/* END */

/* Small Settings */
@media(max-width: 800px) {

    body {
        font-size: 13px;
        
        --generalBoxWidth: 300px;
        --generalBoxHeight: 300px;
    }

    #member {
        grid-column-gap: 100px;
        margin-left: 20px;
        grid-column-gap: 10px;
    }

    #member:hover {
        --hoverBoxWidth: 340px;
        --hoverBoxHeight: 340px;

        --boxColumnGap: 20px;
        --boxRowGap: 20px;
    }
}